In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('E:\\a.csv')

In [3]:
df.loc[2]

Student ID    1003
Class            9
Study hrs        3
Sleeping H       8
GP               2
Percentage      80
Name: 2, dtype: object

In [4]:
df.loc[[3,5]]

   Student ID  Class Study hrs  Sleeping H GP  Percentage
3      1004.0     10         0         1.0  0        45.0
5      1006.0     12        10         6.0  5        62.0

In [5]:
df.loc[1:3]

   Student ID  Class Study hrs  Sleeping H GP  Percentage
1      1002.0      8         6         8.0  0        50.0
2      1003.0      9         3         8.0  2        80.0
3      1004.0     10         0         1.0  0        45.0

In [6]:
df.loc[0:3]

   Student ID  Class Study hrs  Sleeping H GP  Percentage
0      1001.0      8         2         9.0  5         NaN
1      1002.0      8         6         8.0  0        50.0
2      1003.0      9         3         8.0  2        80.0
3      1004.0     10         0         1.0  0        45.0

In [7]:
df.loc[0:3,"GP"]

0    5
1    0
2    2
3    0
Name: GP, dtype: object

In [8]:
df.loc[df['Class'] <9,['GP']]

  GP
0  5
1  0
9  0

In [9]:
df.iloc[:,0]

0    1001.0
1    1002.0
2    1003.0
3    1004.0
4    1005.0
5    1006.0
6       NaN
7    1007.0
8    1008.0
9    1009.0
Name: Student ID, dtype: float64

In [10]:
df.loc[:,'Student ID']

0    1001.0
1    1002.0
2    1003.0
3    1004.0
4    1005.0
5    1006.0
6       NaN
7    1007.0
8    1008.0
9    1009.0
Name: Student ID, dtype: float64

In [11]:
a=df.groupby(by='Class')
a

In [12]:
a.groups

{7: [9], 8: [0, 1], 9: [2, 7], 10: [3, 4, 8], 12: [5], 13: [6]}

In [13]:
a=df.groupby(by=['Class','GP']).groups
a

{(7, '0'): [9], (8, '0'): [1], (8, '5'): [0], (9, '2'): [2], (9, 'not available'): [7], (10, '0'): [3, 8], (10, '3'): [4], (12, '5'): [5], (13, '4'): [6]}

In [14]:
for Class,i in a:
    print(Class)
    print(i)

7
0
8
0
8
5
9
2
9
not available
10
0
10
3
12
5
13
4

In [15]:
df=pd.read_csv("E:\\ab.csv")
df

   Student ID  Class Study hrs  Sleeping H             GP  Percentage section
0      1001.0      8         2         9.0              5         NaN       a
1      1002.0      8         6         8.0              0        50.0       b
2      1003.0      9         3         8.0              2        80.0       c
3      1004.0     10         0         1.0              0        45.0       c
4      1005.0     10  No value         3.0              3        70.0       b
5      1006.0     12        10         6.0              5        62.0       a
6         NaN     13         4         9.0              4        90.0       d
7      1007.0      9        10         0.0  not available        88.0       b
8      1008.0     10         2         0.0              0        60.0       d
9      1009.0      7         6         NaN              0        59.0       a

In [16]:
a=df.groupby(by='section')

In [17]:
a.groups

{'a': [0, 5, 9], 'b': [1, 4, 7], 'c': [2, 3], 'd': [6, 8]}

In [18]:
a=df.groupby(by=['section','Class']).groups
a

{('a', 7): [9], ('a', 8): [0], ('a', 12): [5], ('b', 8): [1], ('b', 9): [7], ('b', 10): [4], ('c', 9): [2], ('c', 10): [3], ('d', 10): [8], ('d', 13): [6]}

In [19]:
for section,i in a:
    print(section)
    print(i)

a
7
a
8
a
12
b
8
b
9
b
10
c
9
c
10
d
10
d
13

In [20]:
ab=df.groupby(by=['section','Class'])
ab.groups

{('a', 7): [9], ('a', 8): [0], ('a', 12): [5], ('b', 8): [1], ('b', 9): [7], ('b', 10): [4], ('c', 9): [2], ('c', 10): [3], ('d', 10): [8], ('d', 13): [6]}

In [21]:
for section,i in ab:
    print(section)
    print(i)

('a', 7)
   Student ID  Class Study hrs  Sleeping H GP  Percentage section
9      1009.0      7         6         NaN  0        59.0       a
('a', 8)
   Student ID  Class Study hrs  Sleeping H GP  Percentage section
0      1001.0      8         2         9.0  5         NaN       a
('a', 12)
   Student ID  Class Study hrs  Sleeping H GP  Percentage section
5      1006.0     12        10         6.0  5        62.0       a
('b', 8)
   Student ID  Class Study hrs  Sleeping H GP  Percentage section
1      1002.0      8         6         8.0  0        50.0       b
('b', 9)
   Student ID  Class Study hrs  Sleeping H             GP  Percentage section
7      1007.0      9        10         0.0  not available        88.0       b
('b', 10)
   Student ID  Class Study hrs  Sleeping H GP  Percentage section
4      1005.0     10  No value         3.0  3        70.0       b
('c', 9)
   Student ID  Class Study hrs  Sleeping H GP  Percentage section
2      1003.0      9         3         8.0  2        80.0       c
('c', 10)
   Student ID  Class Study hrs  Sleeping H GP  Percentage section
3      1004.0     10         0         1.0  0        45.0       c
('d', 10)
   Student ID  Class Study hrs  Sleeping H GP  Percentage section
8      1008.0     10         2         0.0  0        60.0       d
('d', 13)
   Student ID  Class Study hrs  Sleeping H GP  Percentage section
6         NaN     13         4         9.0  4        90.0       d

In [22]:
a=df.groupby('Class').get_group(8)
a

   Student ID  Class Study hrs  Sleeping H GP  Percentage section
0      1001.0      8         2         9.0  5         NaN       a
1      1002.0      8         6         8.0  0        50.0       b

In [23]:
a.sum()

Student ID    2003
Class           16
Study hrs       26
Sleeping H      17
GP              50
Percentage      50
section         ab
dtype: object

In [24]:
b=df.groupby('section')
b.sum()

         Student ID  Class  Sleeping H  Percentage
section
a            3016.0     27        15.0       121.0
b            3014.0     27        11.0       208.0
c            2007.0     19         9.0       125.0
d            1008.0     23         9.0       150.0

In [25]:
b.mean()

          Student ID  Class  Sleeping H  Percentage
section
a        1005.333333    9.0    7.500000   60.500000
b        1004.666667    9.0    3.666667   69.333333
c        1003.500000    9.5    4.500000   62.500000
d        1008.000000   11.5    4.500000   75.000000

In [26]:
b.max()

         Student ID  Class Study hrs  Sleeping H             GP  Percentage
section
a            1009.0     12         6         9.0              5        62.0
b            1007.0     10  No value         8.0  not available        88.0
c            1004.0     10         3         8.0              2        80.0
d            1008.0     13         4         9.0              4        90.0

In [27]:
b.min()

         Student ID  Class Study hrs  Sleeping H GP  Percentage
section
a            1001.0      7        10         6.0  0        59.0
b            1002.0      8        10         0.0  0        50.0
c            1003.0      9         0         1.0  0        45.0
d            1008.0     10         2         0.0  0        60.0

In [28]:
b.agg(['sum','max','mean'])

        Student ID                      Class           Sleeping H       \
               sum     max         mean   sum max  mean        sum  max
section
a           3016.0  1009.0  1005.333333    27  12   9.0       15.0  9.0
b           3014.0  1007.0  1004.666667    27  10   9.0       11.0  8.0
c           2007.0  1004.0  1003.500000    19  10   9.5        9.0  8.0
d           1008.0  1008.0  1008.000000    23  13  11.5        9.0  9.0

                  Percentage
             mean        sum   max       mean
section
a        7.500000      121.0  62.0  60.500000
b        3.666667      208.0  88.0  69.333333
c        4.500000      125.0  80.0  62.500000
d        4.500000      150.0  90.0  75.000000

In [30]:
df

   Student ID  Class Study hrs  Sleeping H             GP  Percentage section
0      1001.0      8         2         9.0              5         NaN       a
1      1002.0      8         6         8.0              0        50.0       b
2      1003.0      9         3         8.0              2        80.0       c
3      1004.0     10         0         1.0              0        45.0       c
4      1005.0     10  No value         3.0              3        70.0       b
5      1006.0     12        10         6.0              5        62.0       a
6         NaN     13         4         9.0              4        90.0       d
7      1007.0      9        10         0.0  not available        88.0       b
8      1008.0     10         2         0.0              0        60.0       d
9      1009.0      7         6         NaN              0        59.0       a

TypeError: '<' not supported between instances of 'str' and 'int'

In [38]:
df.loc[df['Class']<9,['GP']]

  GP
0  5
1  0
9  0