In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('E:\\a.csv')
df

   Student ID  Class Study hrs  Sleeping H             GP  Percentage
0      1001.0      8         2         9.0              5         NaN
1      1002.0      8         6         8.0              0        50.0
2      1003.0      9         3         8.0              2        80.0
3      1004.0     10         0         1.0              0        45.0
4      1005.0     10  No value         3.0              3        70.0
5      1006.0     12        10         6.0              5        62.0
6         NaN     13         4         9.0              4        90.0
7      1007.0      9        10         0.0  not available        88.0
8      1008.0     10         2         0.0              0        60.0
9      1009.0      7         6         NaN              0        59.0

In [3]:
df.head(4)

   Student ID  Class Study hrs  Sleeping H GP  Percentage
0      1001.0      8         2         9.0  5         NaN
1      1002.0      8         6         8.0  0        50.0
2      1003.0      9         3         8.0  2        80.0
3      1004.0     10         0         1.0  0        45.0

In [4]:
df.tail(3)

   Student ID  Class Study hrs  Sleeping H             GP  Percentage
7      1007.0      9        10         0.0  not available        88.0
8      1008.0     10         2         0.0              0        60.0
9      1009.0      7         6         NaN              0        59.0

In [5]:
a=pd.read_csv('E:\\a.csv', dtype={'Class':'float64'})
a

   Student ID  Class Study hrs  Sleeping H             GP  Percentage
0      1001.0    8.0         2         9.0              5         NaN
1      1002.0    8.0         6         8.0              0        50.0
2      1003.0    9.0         3         8.0              2        80.0
3      1004.0   10.0         0         1.0              0        45.0
4      1005.0   10.0  No value         3.0              3        70.0
5      1006.0   12.0        10         6.0              5        62.0
6         NaN   13.0         4         9.0              4        90.0
7      1007.0    9.0        10         0.0  not available        88.0
8      1008.0   10.0         2         0.0              0        60.0
9      1009.0    7.0         6         NaN              0        59.0

In [7]:
a['Student ID']=a['Student ID'].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
a.columns

In [ ]:
ab=pd.read_csv('E:\\ab.csv')
ab

In [ ]:
ab=pd.read_csv('E:\\ab.csv',na_values=['No value','not available'])
ab

In [ ]:
abc=pd.read_csv('E:\\ab.csv')
abc

In [ ]:
ab=pd.read_csv('E:\\ab.csv',na_values={'Study hrs':'No value'})
ab

In [ ]:
ab.isnull()

In [ ]:
a=pd.read_csv('E:\\a.csv',keep_default_na=False)
a

In [ ]:
ab.isnull().sum()

In [ ]:
 ab.dropna()

In [ ]:
ab.dropna(axis=1)

In [ ]:
ab.dropna(how='any')

In [ ]:
ab.dropna(how='all')

In [ ]:
ab.dropna(thresh=6)

In [ ]:
ab.dropna(subset=['Class'])

In [ ]:
ab

In [ ]:
ab.fillna(0)

In [ ]:
a=pd.read_csv('E:\\a.csv', na_values=['not available','No value'])
a

In [ ]:
a.fillna(0)

In [ ]:
a.fillna(method='ffill')

In [ ]:
a.fillna(method='bfill')

In [ ]:
a.fillna(method='backfill')

In [ ]:
a.fillna(method='pad')

In [ ]:
df.fillna(method='bfill',axis=1)

In [ ]:
a.fillna(method='bfill', axis=1)

In [ ]:
a.fillna(55)

In [ ]:
df.fillna(0,limit=1)

In [ ]:
a

In [ ]:
a.fillna(0,inplace=True)
a

In [ ]:
a.replace(to_replace=8,value=77)

In [ ]:
a.replace(to_replace=[8,10,7],value=100)

In [ ]:
a.replace([8,10,7],[18,101,77])

In [ ]:
df

In [ ]:
df.replace({'No value':'goods','not available':'available'},value=None)

In [ ]:
df.replace('[0-50]',value='hy',regex=True)

In [ ]:
df.replace({'GP':'[A-Za-z]'},0,regex=True)

In [ ]:
df.replace('[A-za-z]',0,regex=True)

In [ ]:
a

In [ ]:
ab

In [ ]:
ab.interpolate()

In [ ]:
df

In [ ]:
ab

In [ ]:
ab.interpolate(method='linear')

In [ ]:
ab.interpolate(method='linear',limit_direction='backward')

In [ ]:
df.dtypes

In [ ]:
type(df)

In [ ]:
df.dtypes

In [ ]:
df.GP[0].dtypes

In [ ]:
ab

In [ ]:
ab.interpolate(method='index')

In [ ]:
ab

In [ ]:
a

In [ ]:
aa=pd.read_csv('E:\\a.csv',na_values=['No value','not available'])
aa

In [ ]:
aa.interpolate(method='index')

In [ ]:
aa.interpolate(method='nearest')

In [8]:
import pandas as pd

In [12]:
fg=pd.read_csv('E:\\ab.csv')
fg

   Student ID  Class Study hrs  Sleeping H             GP  Percentage section
0      1001.0      8         2         9.0              5         NaN       a
1      1002.0      8         6         8.0              0        50.0       b
2      1003.0      9         3         8.0              2        80.0       c
3      1004.0     10         0         1.0              0        45.0       c
4      1005.0     10  No value         3.0              3        70.0       b
5      1006.0     12        10         6.0              5        62.0       a
6         NaN     13         4         9.0              4        90.0       d
7      1007.0      9        10         0.0  not available        88.0       b
8      1008.0     10         2         0.0              0        60.0       d
9      1009.0      7         6         NaN              0        59.0       a

In [16]:
g=fg.groupby(by='section').groups
g

{'a': [0, 5, 9], 'b': [1, 4, 7], 'c': [2, 3], 'd': [6, 8]}

In [20]:
g=fg.groupby('section').get_group('a')
g

   Student ID  Class Study hrs  Sleeping H GP  Percentage section
0      1001.0      8         2         9.0  5         NaN       a
5      1006.0     12        10         6.0  5        62.0       a
9      1009.0      7         6         NaN  0        59.0       a

In [22]:
a=fg.groupby(by='section')
a.sum()

         Student ID  Class  Sleeping H  Percentage
section
a            3016.0     27        15.0       121.0
b            3014.0     27        11.0       208.0
c            2007.0     19         9.0       125.0
d            1008.0     23         9.0       150.0

In [23]:
a.mean()

          Student ID  Class  Sleeping H  Percentage
section
a        1005.333333    9.0    7.500000   60.500000
b        1004.666667    9.0    3.666667   69.333333
c        1003.500000    9.5    4.500000   62.500000
d        1008.000000   11.5    4.500000   75.000000

In [24]:
a.min()

         Student ID  Class Study hrs  Sleeping H GP  Percentage
section
a            1001.0      7        10         6.0  0        59.0
b            1002.0      8        10         0.0  0        50.0
c            1003.0      9         0         1.0  0        45.0
d            1008.0     10         2         0.0  0        60.0

In [25]:
a.agg(['sum','mean','max'])

        Student ID                      Class           Sleeping H            \
               sum         mean     max   sum  mean max        sum      mean
section
a           3016.0  1005.333333  1009.0    27   9.0  12       15.0  7.500000
b           3014.0  1004.666667  1007.0    27   9.0  10       11.0  3.666667
c           2007.0  1003.500000  1004.0    19   9.5  10        9.0  4.500000
d           1008.0  1008.000000  1008.0    23  11.5  13        9.0  4.500000

             Percentage
         max        sum       mean   max
section
a        9.0      121.0  60.500000  62.0
b        8.0      208.0  69.333333  88.0
c        8.0      125.0  62.500000  80.0
d        9.0      150.0  75.000000  90.0