In [1]:
import pandas as pd

In [12]:
df1=pd.DataFrame({'ID':[1,2,3,4,6],
                   'name':['a','b','c','d','e']})
df1

   ID name
0   1    a
1   2    b
2   3    c
3   4    d

In [13]:
df2=pd.DataFrame({'ID':[1,2,3,5],
                 'class':[6,7,8,10]})
df2

   ID  class
0   1      6
1   2      7
2   3      8
3   4      9

In [14]:
pd.merge(df1,df2,on='ID')

   ID name  class
0   1    a      6
1   2    b      7
2   3    c      8
3   4    d      9

In [ ]:
pd.merge(df1,df2)