In [1]:
import pandas as pd

In [4]:
a=pd.DataFrame({'a':[1,2,3],"b":[10,20,30]})
b=pd.DataFrame({'c':[4,5,6],"d":[50,70,90]})
display(a,b)

   a   b
0  1  10
1  2  20
2  3  30

   c   d
0  4  50
1  5  70
2  6  90

In [5]:
a.join(b)

   a   b  c   d
0  1  10  4  50
1  2  20  5  70
2  3  30  6  90

In [ ]:
c=pd.DataFrame({'a':[1,2,3],"c":[10,20,30]})